body {
    background-color: hsl(27, 66%, 92%);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: hsl(25, 47%, 15%);
}

p, h1 {
    margin: 0;
}

.wrapper {
    width: 350px;
    margin: 0 auto;
    

    @media screen and (min-width: 600px) {
        width: 500px;
    }

    &--part {
        padding: 20px;
        border-radius: 20px;

        @media screen and (min-width: 600px) {
            padding: 30px;
        }
    }
}

.header {
    background-color: hsl(10, 79%, 65%);
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(33, 100%, 98%);

    @media screen and (min-width: 600px) {
        margin-top: 100px;
    }

    &__balance {
        font-size: 12px;
        margin-bottom: 5px;
    }

    &__amount {
        font-size: 24px;
        font-weight: 700;
    }
};

h1 {
    margin-top: 10px;
    font-weight: 700;
};


.content {
    background-color: hsl(33, 100%, 98%);
    margin-bottom: 30px;
};





.total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-this-month {
        margin-top: 30px;
        color: hsl(28, 10%, 53%);
        font-size: 12px;
    }

    &__amount {
        font-size: 28px;
        font-weight: 700;
    }

    &__last-month {
        font-size: 12px;
        text-align: right;
    }
};


#chart-container {
    border-bottom: 2px solid hsl(27, 66%, 92%);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    align-items: baseline;
    padding: 60px 0 30px 0;
};

.bar {
    width: 100%;
    background-color: hsl(10, 79%, 65%);
    border-radius: 5px;  

    &--current-day {
        background-color: hsl(186, 34%, 60%);

        &:hover {
            background-color: hsl(186, 34%, 60%, 70%);
        }
    }

    &:hover {
        background-color: hsl(10, 79%, 65%, 70%);
    }
};

.bar-container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    position: relative;
}

.label {
    font-size: 12px;
    color: hsl(28, 10%, 53%);
    width: 100%;
    margin-top: 10px;
}

.amounts {
    font-size: 15px;
    position: absolute;
    background-color: hsl(25, 47%, 15%);
    padding: 5px 10px;
    border-radius: 5px;
    color: hsl(33, 100%, 98%);
    width: 700;
    top: -40px;
    right: -50%;

    @media screen and (min-width: 600px) {
        right: -15%;
    }
}

.hidden {
    display: none;
}